.component_niceimage_selectableimage { width: 100px; height: 105px; overflow: hidden; position: relative; margin: 5px; }
.component_niceimage_selectableimage_image { width: 100px; height: 80px; overflow: hidden; }
.component_niceimage_selectableimage span { position: absolute; top: 85px; left: 0px; height: 20px; width: 100px; overflow: hidden; }
